<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Owner of a cat</title>
</head>
<body>

    <div class="container">
        <h1 class="textbox">Welcome, {{ session.username }}!</h1>
    
        <div class="textbox">
            <br><p class="word">You are the owner of a cat.</p>
            <a class="btn" type="submit" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    
</body>
</html>