<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Catalogue</title>
</head>
<body>
    <div class="container">  
        <h2 class="word">Welcome, {{ session.username }}!</h2>

        <form method="POST" enctype="multipart/form-data">
            <input class="textbox" type="text" name="cat_name" placeholder="Enter Cat Name" required>
            <input class="textbox" type="text" name="cat_breed" placeholder="Enter Cat Breed" required>
            <input class="textbox" type="text" name="cat_age" placeholder="Enter Cat Age" required>
            <input class="textbox" type="text" name="contact" placeholder="Enter Contact Information" required>
            
            <input type="file" name="photo" required><br><br>

            <button class="btn" type="submit">Add Cat</button>
        </form>
    </div>
    <div class="container">
        <h2>All Cats</h2>
        {% if cats %}
            {% for cat in cats %}
                <div class="border">
                    <h3>{{ cat.cat_name }}</h3>
                <p>Age: {{ cat.cat_age }}</p>
                <p>Breed: {{ cat.cat_breed }}</p>
                <p>Contact: {{ cat.contact }}</p>
                <img src="{{ url_for('get_file', filename=cat.image) }}" width="200">
            </div>
        {% endfor %}
        {% else %}
            <p>No cats available.</p>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

</body>